<!DOCTYPE html> 
<html>
<head> 
    <title>Web-App Tele Health</title>
    <meta charset="utf-8">
    <meta name="keywords" content="AI-Telehealth, COVID-19 Detector">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
</head> 

<body>
    <header>
       <nav>
            <p>
                <div class="navigationbar">
                <div id="navigationitem"><a href="/">Home</a></div>
                <div id="navigationitem"><a href="https://sites.google.com/nau.edu/ai-telehealth/home">Project Introduction</a></div>
                <div id="navigationitem"><a href="https://ceias.nau.edu/capstone/d4p/">NAU Capstone Page</a></div>
                </div>
            </p>
        </nav>
    </header>

    <div class="container">
    <main>
        <h1>AI-Telehealth(Test Page)<sup>by Tech-health Comparator Group</sup></h1>
        <br>

        <div>
            <a href="https://www.researchgate.net/publication/377103421_High-accuracy_fine-tuned_vision_transformer_model_for_diagnosing_COVID-19_from_chest_X-ray_images"><p style="text-align: left;">Our Research Paper: High-accuracy fine-tuned vision transformer model for diagnosing COVID-19 from chest X-ray images</p></a>
        </div>
        
        <hr>

        <div>
            <img src="static/dataset_img_display.png" alt="Dataset Example" width="90%">
            <p style="text-align: center; font-size: small;">Used Dataset Examples</p>
        </div>

        <div class="imgUpload">
            <h2>COVID19 Detection</h2>
            <form action="/" method="post" enctype="multipart/form-data">
                <br>
                <label for="pic">Chest X-ray for detecting COVID19: </label>
                <br>    
                <input type="file" name="pic" id="pic">
                <br><br>
                
                <p>The prediction result of uploaded image is: <div id="prediction">waiting to be uploaded</div></p>

                <input type="submit" value="Upload (after you choose file)">
            </form>        
        </div>
        <br><hr>
        <div>
            <img src="static/ViT structure Paper.png" alt="Our Proposed Model" width="90%">
            <p style="text-align: center; font-size: small;">Our Proposed Model</p>
            <img src="static/Confusion Matrix.png" alt="Confusion Matrix" width="90%">
            <p style="text-align: center; font-size: small;">Confusion Matrix (prediction accuracy of our proposed model from the test set)</p>
            <img src="static/Acc_comparison_between_experimented_models.png" alt="Comparison" width="90%">
            <p style="text-align: center; font-size: small;">Comparison with other state-of-the-art models (Accuracy)</p>
        </div>

    <br>
    </main>

    <footer>
        <h6>Author: TeleHealth <sup>(NAU 2023-2024 EE capstone)</sup> <br> Team: Tech Health Comparator (Tianyi Chen, Ian Phillipi)
        <br> Contact Info: <a href="mailto: tc922@nau.edu">tc922@nau.edu</a> / <a href="https://github.com/TyBruceChen">TyBruceChen</a><sup>GitHub</sup></h6>
    </footer>
    </div>
</body>
</html>